flows_raspberrypi.json
[{"id":"7a8140fa.cdcf2","type":"tab","label":"Image Caption Generator","disabled":false,"info":""},{"id":"e5f70c65.350d1","type":"tab","label":"Facial Recognizer","disabled":false,"info":""},{"id":"2f72890.0becd78","type":"tab","label":"Camera Settings / Troubleshooting","disabled":false,"info":""},{"id":"1451a3c0.e5f5ac","type":"tab","label":"Audio Classifier WIP","disabled":false,"info":""},{"id":"eca8e9c8.7991f8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"320abd75.c036d2","type":"wiotp-credentials","z":"","name":"","org":"mwslhc","serverName":"","devType":"rPi","devId":"MySenseHAT","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"def884f6.e969b8","type":"object-detector-service","z":"","host":"https://max-object-detector.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"209db99a.281f86","type":"audio-classifier-2-service","z":"","host":"google.com","name":"333"},{"id":"45183b06.a1a074","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"ac30e6be.67a418","type":"audio-classifier-2-service","z":"","host":"https://max-audio-classifier.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"d438fed.7c738","type":"object-detector-service","z":"","host":"http://9.240.113.187:5000","name":"local"},{"id":"81dd59de.c008f8","type":"image-caption-generator-service","z":"","host":"http://192.168.1.138:5000","name":"laptop"},{"id":"dd3523ef.4d2e7","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"4bffafb9.74baf","type":"ui_tab","z":"","name":"MAX Raspberry Pi Dashboard - Image Caption Generator","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb6012b9.16de9","type":"ui_group","z":"","name":"Image Caption Generator","tab":"4bffafb9.74baf","disp":true,"width":"14","collapse":false},{"id":"e8d90be2.9d1ce8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"675b434c.6330dc","type":"facial-recognizer-service","z":"","host":"http://192.168.1.138:6000","name":"laptop"},{"id":"12806c45.b07654","type":"ui_group","z":"","name":"Facial Recognizer","tab":"141a44bd.00effb","disp":true,"width":"14","collapse":false},{"id":"141a44bd.00effb","type":"ui_tab","z":"","name":"MAX Raspberry Pi Dashboard - Facial Recognizer","icon":"dashboard","disabled":false,"hidden":false},{"id":"343dfea6.9bde02","type":"rpi-sensehat in","z":"eca8e9c8.7991f8","name":"","motion":true,"env":true,"stick":true,"x":74,"y":90,"wires":[["f84017ee.19a4d8"]]},{"id":"9b50378b.838048","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":110,"wires":[["a5fdbf31.0e418","c3982a64.ac3fd8"]]},{"id":"f84017ee.19a4d8","type":"switch","z":"eca8e9c8.7991f8","name":"Input Classification Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":164,"y":190,"wires":[["9b50378b.838048"],["5a7623f.e05b2dc"],["43104d7c.1dcb44"]]},{"id":"c3982a64.ac3fd8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":824,"y":130,"wires":[]},{"id":"5a7623f.e05b2dc","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":150,"wires":[["a7050754.cfaec8","c3982a64.ac3fd8"]]},{"id":"a5fdbf31.0e418","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"environment","format":"json","qos":"","name":"","x":804,"y":70,"wires":[]},{"id":"a7050754.cfaec8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"motion","format":"json","qos":"","name":"","x":824,"y":190,"wires":[]},{"id":"43104d7c.1dcb44","type":"switch","z":"eca8e9c8.7991f8","name":"Joystick Direction Check","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":164,"y":310,"wires":[["f85c17f7.82c268"],["1d301f34.bef8f1"]]},{"id":"c86cbb58.6f89c8","type":"delay","z":"eca8e9c8.7991f8","name":"Joystick Press Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":674,"y":290,"wires":[["819a11a1.e1ab6"]]},{"id":"1d301f34.bef8f1","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":330,"wires":[["291fd126.649c2e","a9e6efa4.5ff1"]]},{"id":"f85c17f7.82c268","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":290,"wires":[["c86cbb58.6f89c8"]]},{"id":"a9e6efa4.5ff1","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1284,"y":350,"wires":[]},{"id":"81b20101.e0903","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"image captured","format":"bin","qos":"","name":"","x":1254,"y":290,"wires":[]},{"id":"291fd126.649c2e","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"joystick directional input","format":"json","qos":"","name":"","x":1224,"y":410,"wires":[]},{"id":"2c5677e1.02db88","type":"wiotp in","z":"eca8e9c8.7991f8","authType":"g","deviceKey":"320abd75.c036d2","deviceType":"rPi","deviceId":"MySenseHAT","command":"+","commandType":"d","qos":0,"name":"From Watson IoT","x":100,"y":540,"wires":[["1e4d7571.6c27eb","4eacd9e5.cbd5f8"]]},{"id":"1e4d7571.6c27eb","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":600,"wires":[]},{"id":"44974ab0.e94864","type":"comment","z":"eca8e9c8.7991f8","name":"Send sensor/joystick data to Watson IoT","info":"","x":174,"y":30,"wires":[]},{"id":"7f13bdca.b6e2f4","type":"function","z":"eca8e9c8.7991f8","name":"message (message)","func":"d = msg.payload.d;\nif (msg.command == \"message\") {\n    msg.background = d.background;\n    msg.color = d.color;\n    msg.payload = d.message;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":720,"wires":[["8db312ab.183be"]]},{"id":"8db312ab.183be","type":"rpi-sensehat out","z":"eca8e9c8.7991f8","name":"","x":870,"y":740,"wires":[]},{"id":"8d8dd894.6af888","type":"image","z":"eca8e9c8.7991f8","name":"","width":200,"x":1290,"y":60,"wires":[]},{"id":"edeae2e1.c0422","type":"debug","z":"eca8e9c8.7991f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1610,"y":380,"wires":[]},{"id":"eee163b9.94edc","type":"object-detector","z":"eca8e9c8.7991f8","service":"d438fed.7c738","method":"predict","predict_body":"","predict_bodyType":"str","predict_threshold":"0.7","predict_thresholdType":"str","name":"","x":1340,"y":560,"wires":[["ae5de9a4.b20768"]]},{"id":"d0569c72.512e1","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"detected_object","format":"json","qos":"","name":"","x":1680,"y":460,"wires":[]},{"id":"fdcb1319.0a087","type":"inject","z":"1451a3c0.e5f5ac","name":"","topic":"","payload":"true","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["80d9d90b.62dda8"]]},{"id":"deb18cb1.b25ae","type":"inject","z":"1451a3c0.e5f5ac","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["80d9d90b.62dda8"]]},{"id":"177ea45a.ace9fc","type":"debug","z":"1451a3c0.e5f5ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":180,"wires":[]},{"id":"7e21561d.cd8a48","type":"Mic","z":"1451a3c0.e5f5ac","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"plughw:0,0","rate":"22050","silenceTimeout":0,"exitOnSilence":false,"debug":"true","active":true,"x":450,"y":180,"wires":[[]]},{"id":"80d9d90b.62dda8","type":"microPi","z":"1451a3c0.e5f5ac","name":"microPi","filename":"/home/pi/pi-net/audio/audio.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":400,"y":120,"wires":[[],["4b19fbd2.95d094"],[]]},{"id":"bcc972cc.45c2b","type":"http request","z":"1451a3c0.e5f5ac","name":"MAX Audio Classifier","method":"POST","ret":"obj","url":"https://max-audio-classifier.max.us-south.containers.appdomain.cloud/model/predict","tls":"","x":780,"y":260,"wires":[["177ea45a.ace9fc"]]},{"id":"240dbde.a4a6442","type":"function","z":"1451a3c0.e5f5ac","name":"","func":"/*\nvar buf = msg.payload;\nmsg.headers = {};\nmsg.headers[\"content-type\"] = 'multipart/form-data';\nmsg.payload = {};\nmsg.payload.audio = {};\nmsg.payload.audio.options = {};\nmsg.payload.audio.value = Buffer.from(buf).toString();\nmsg.payload.audio.options.filename = 'audio.wav' \nreturn msg;\n*/\n\n/*\nvar form = new formData();\nvar headers = { \"Content-Type\" : \"multipart-form-data\"}\nvar options = {};\nform.append('audio', msg.payload);\nmsg.headers = headers\nmsg.payload = form\nreturn msg\n*/\n\n\nvar FormData = context.global.formData;\n//msg.headers = {};\n//msg.headers[\"content-type\"] = 'multipart/form-data';\nvar data = new FormData();\ndata.append(\"audio\", \"/home/pi/pi-net/audio/audio.wav\");\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[[]]},{"id":"69c762ff.a68b9c","type":"delay","z":"eca8e9c8.7991f8","name":"Once Every 5 Seconds...","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":590,"y":520,"wires":[["12d62e95.bdcb01"]]},{"id":"e451d2d.119993","type":"comment","z":"eca8e9c8.7991f8","name":"Incoming commands","info":"","x":220,"y":480,"wires":[]},{"id":"4eacd9e5.cbd5f8","type":"switch","z":"eca8e9c8.7991f8","name":"parse Watson IoT data","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"alarm","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":540,"wires":[["69c762ff.a68b9c"],["7f13bdca.b6e2f4"],["39e8dc51.15e1a4"]]},{"id":"39e8dc51.15e1a4","type":"function","z":"eca8e9c8.7991f8","name":"full color (alarm)","func":"d = msg.payload.d;\nif (msg.command == \"alarm\") {\n    msg.payload = \"\\*,\\*,\" + d.color;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["8db312ab.183be"]]},{"id":"12d62e95.bdcb01","type":"switch","z":"eca8e9c8.7991f8","name":"\"action\" switch","property":"payload.d.message","propertyType":"msg","rules":[{"t":"eq","v":"object_detection","vt":"str"},{"t":"eq","v":"image_caption","vt":"str"},{"t":"eq","v":"facial_detection","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":820,"y":580,"wires":[["655313a1.01bd5c"],["9d2e8934.6ff718"],["f9918965.60eca8"]]},{"id":"974776e5.2ba398","type":"image-caption-generator","z":"eca8e9c8.7991f8","service":"45183b06.a1a074","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":1290,"y":660,"wires":[["48f06616.2d5d08"]]},{"id":"ebd108fb.6301f8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"caption_generated","format":"json","qos":"","name":"","x":1730,"y":720,"wires":[]},{"id":"965490c1.a42e6","type":"www-request-multipart","z":"1451a3c0.e5f5ac","name":"","method":"POST","ret":"txt","url":"https://max-audio-classifier.max.us-south.containers.appdomain.cloud/model/predict","follow-redirects":true,"tls":"","x":890,"y":40,"wires":[["177ea45a.ace9fc"]]},{"id":"e401248c.5da008","type":"function","z":"1451a3c0.e5f5ac","name":"","func":"var fetch = context.global.fetch;\nvar FormData = context.global.formData;\n/*\nvar form = new formData();\nvar headers = { \"Content-Type\" : \"multipart-form-data\"}\nvar options = {};\nform.append('audio', msg.payload);\nmsg.headers = headers\nmsg.payload = form\nreturn msg\n*/\n\nvar data = new FormData();\ndata.append(\"audio\", \"/Users/nick/Code/MY_FORKS/MAX-Audio-Classifier/assets/dog.wav\");\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://max-audio-classifier.max.us-south.containers.appdomain.cloud/model/predict\");\nxhr.setRequestHeader(\"Accept\", \"multipart/form-data\");\nxhr.setRequestHeader(\"cache-control\", \"no-cache\");\nxhr.setRequestHeader(\"Postman-Token\", \"a502980f-3be3-4759-bd57-14c459c0c8e8\");\n\nxhr.send(data);","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["177ea45a.ace9fc"]]},{"id":"9726461e.2eac98","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"picture_taken","format":"bin","qos":"","name":"","x":1740,"y":600,"wires":[]},{"id":"e4f4506e.2506e","type":"function","z":"eca8e9c8.7991f8","name":"format img for display in dashboard","func":"msg.payload = 'data:image/jpeg;base64,' + msg.payload.toString('base64')\nmsg.action = 'picture_taken';\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":620,"wires":[["9726461e.2eac98","898373c5.0d415"]]},{"id":"898373c5.0d415","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":560,"wires":[]},{"id":"de86e3b3.d6e7d","type":"facial-recognizer","z":"eca8e9c8.7991f8","service":"675b434c.6330dc","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":1280,"y":740,"wires":[["898373c5.0d415","60ab6dd.60e0094"]]},{"id":"39e7cc04.08d624","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"face_detected","format":"json","qos":"","name":"","x":1720,"y":860,"wires":[]},{"id":"60ab6dd.60e0094","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (face detection)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Face Detected';\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":780,"wires":[["39e7cc04.08d624"]]},{"id":"5687a9d1.6149f8","type":"function","z":"eca8e9c8.7991f8","name":"attempt at building form body manually","func":"var formData = context.global.formData;\nvar form = new formData();\nvar fetch = context.global.fetch;\n\nvar image = {};\nvar options = {};\nvar req = {};\nvar node = this;\n\noptions['filename'] = 'image.jpg';\nimage['value'] = msg.payload;\nimage['options'] = JSON.stringify(options)\nform.append('image', JSON.stringify(image));\nreq[\"content-type\"] = 'multipart/form-data';\nreq.body = form;\n\n\nvar fp = fetch('http://9.240.113.187:5000/model/predict', { method: 'POST', req});\n\nreturn fp.then(res => this.send(res))","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["922f79c1.de9da8"]]},{"id":"922f79c1.de9da8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":420,"wires":[]},{"id":"ae5de9a4.b20768","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (object detection)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Objects Detected';\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":460,"wires":[["edeae2e1.c0422","d0569c72.512e1"]]},{"id":"48f06616.2d5d08","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (image caption generator)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Caption Generated';\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":660,"wires":[["ebd108fb.6301f8"]]},{"id":"94ebb2a2.67753","type":"inject","z":"2f72890.0becd78","name":"Click to Capture Image","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["db30081e.380b58"]]},{"id":"af832a83.31eaa8","type":"image","z":"2f72890.0becd78","name":"","width":200,"x":850,"y":240,"wires":[]},{"id":"f11addad.e9fc7","type":"image-caption-generator","z":"7a8140fa.cdcf2","service":"81dd59de.c008f8","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":730,"y":200,"wires":[["9578e8b6.d1e988","af6d25e5.5d5df8"]]},{"id":"7eb28232.4616ec","type":"comment","z":"2f72890.0becd78","name":"Edit the node below to configure your camera (dbl-click for more)...","info":"Depending on how your camera is mounted, \nyou may want to select the vertical \nor horizontal flip options here. \n\nDue to the somewhat large file size for images,\nwe recommend using an image size of 640x480 \nhere since it's close to the size MAX \nmodels can process by default, but small\nenough to work as a payload between nodes.","x":440,"y":160,"wires":[]},{"id":"45f112b6.e06a7c","type":"comment","z":"2f72890.0becd78","name":"This is what your camera output looks like (dbl-click for more)...","info":"Keep in mind, you'll have to set these settings\nfor each camera node in your flows, unless\nyou copy/paste your nodes after creating one.","x":910,"y":480,"wires":[]},{"id":"af6d25e5.5d5df8","type":"debug","z":"7a8140fa.cdcf2","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":120,"wires":[]},{"id":"e1097c70.5ff28","type":"ui_button","z":"7a8140fa.cdcf2","name":"Capture Image Button (Dashboard)","group":"eb6012b9.16de9","order":0,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":160,"wires":[["d628bf13.a2998"]]},{"id":"9578e8b6.d1e988","type":"ui_text","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","order":1,"width":"14","height":"2","name":"","label":"Caption:","format":"{{msg.payload}}","layout":"col-center","x":980,"y":200,"wires":[]},{"id":"2e26a2c0.32d1ee","type":"debug","z":"e5f70c65.350d1","name":"Debug MAX Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":140,"wires":[]},{"id":"d6bb5edf.29925","type":"ui_button","z":"e5f70c65.350d1","name":"Facial Recognizer (Dashboard)","group":"12806c45.b07654","order":0,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":140,"wires":[["971d862f.fe8158"]]},{"id":"368859df.52aeb6","type":"facial-recognizer","z":"e5f70c65.350d1","service":"675b434c.6330dc","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":520,"y":220,"wires":[["b41c123a.7c89c","2e26a2c0.32d1ee"]]},{"id":"ae158b90.4cc968","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"Image Display (Dashboard)","order":4,"width":"14","height":"10","format":"<div ng-bind-html='msg.payload'> </div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":920,"y":300,"wires":[[]]},{"id":"c0164813.7cee08","type":"function","z":"7a8140fa.cdcf2","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img src='\"+ imgSrc + \"' />\"\nmsg.payload = element\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["ae158b90.4cc968"]]},{"id":"b318cea2.c937c","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":3,"width":0,"height":0,"format":"<style>\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":930,"y":360,"wires":[[]]},{"id":"29e37a2e.df0126","type":"function","z":"e5f70c65.350d1","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img class='facial-output' src='\"+ imgSrc + \"' />\";\nmsg.payload = imgSrc;\nmsg.topic = 'image';\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["efef7472.1ea258"]]},{"id":"465e9a39.43aae4","type":"comment","z":"7a8140fa.cdcf2","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the output on the NodeRED Dashboard.","info":"","x":580,"y":60,"wires":[]},{"id":"b41c123a.7c89c","type":"function","z":"e5f70c65.350d1","name":"Parse MAX Response","func":"\nmsg.payload = msg.details.predictions[0].detection_box\nmsg.topic = 'coords';\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["efef7472.1ea258"]]},{"id":"4b19fbd2.95d094","type":"http-send-multipart","z":"1451a3c0.e5f5ac","name":"audio-classifier-request","ret":"txt","filepath":"/home/pi/pi-net/audio/audio.wav","url":"http://192.168.1.138:5555","tls":"","x":750,"y":380,"wires":[["177ea45a.ace9fc"]]},{"id":"e560a4f4.e4a7a8","type":"comment","z":"e5f70c65.350d1","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the image with the output coordinates  on the NodeRED Dashboard.","info":"This flow captures an image using the Raspberry Pi Camera \nand sends it to a MAX Model, \nthen displays the image with the \noutput coordinates plotted using the HTML5\ncanvas API on the NodeRED Dashboard.","x":690,"y":60,"wires":[]},{"id":"4b7ce0c8.b4563","type":"ui_template","z":"e5f70c65.350d1","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":3,"width":0,"height":0,"format":"<style>\nimg {\n  position: absolute;\n  top: 0;\n  left: 0;\n  width: 640px;\n  height: 480px;\n}\n\n#face-display {\n  position: absolute;\n  top: 0;\n  left: 0;\n  width: 640px !important;\n  height: 480px !important;\n  border: 1px solid red;\n  z-index: 9999;\n}\n\nmd-card {\n    overflow: hidden !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":990,"y":400,"wires":[[]]},{"id":"819a11a1.e1ab6","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"1","flipv":"1","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":960,"y":240,"wires":[["8d8dd894.6af888","81b20101.e0903"]]},{"id":"655313a1.01bd5c","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":580,"wires":[["8d8dd894.6af888","eee163b9.94edc","e4f4506e.2506e"]]},{"id":"9d2e8934.6ff718","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":620,"wires":[["8d8dd894.6af888","974776e5.2ba398"]]},{"id":"f9918965.60eca8","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":660,"wires":[["de86e3b3.d6e7d"]]},{"id":"db30081e.380b58","type":"camerapi-takephoto","z":"2f72890.0becd78","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":500,"y":240,"wires":[["af832a83.31eaa8"]]},{"id":"d628bf13.a2998","type":"camerapi-takephoto","z":"7a8140fa.cdcf2","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":480,"y":200,"wires":[["f11addad.e9fc7","c0164813.7cee08"]]},{"id":"971d862f.fe8158","type":"camerapi-takephoto","z":"e5f70c65.350d1","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":300,"y":220,"wires":[["368859df.52aeb6","29e37a2e.df0126"]]},{"id":"efef7472.1ea258","type":"function","z":"e5f70c65.350d1","name":"Data Aggregator for Canvas Element","func":"context.imageData = context.imageData || false;\ncontext.coordsData = context.coordsData || false;\n\n\nif (msg.topic == 'image') {\n    context.imageData = msg.payload;\n} else if (msg.topic == 'coords') {\n    context.coordsData = msg.payload;\n}\n\nif (context.imageData && context.coordsData) {\n    msg.payload = []\n    msg.topic = 'dataBundle'\n    msg.payload.push(context.imageData);\n    msg.payload.push(context.coordsData);\n    \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["cd5ea02f.a9384"]]},{"id":"cd5ea02f.a9384","type":"ui_template","z":"e5f70c65.350d1","group":"12806c45.b07654","name":"Canvas Display","order":4,"width":"14","height":"10","format":"<div id='img-div'> \n</div>\n<canvas height=\"480px\" width=\"640px\" id='face-display'></canvas>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload && msg.topic == 'dataBundle'){\n                let img = new Image();\n                let canvas = document.getElementById('face-display');\n                let canvasWidth = canvas.width;\n                let canvasHeight = canvas.height;\n                let ctx = canvas.getContext('2d');\n                let coords = msg.payload[1];\n                \n                img.onload = function() {\n\n                    ctx.drawImage(img, 0, 0);\n                    \n                    const topLeftX = coords[0]\n                    const topLeftY = coords[1]\n                    const height = coords[3] - coords[1]\n                    const width = coords[2]-coords[0]\n                    \n                    ctx.fillStyle = '#00FF00';\n                    ctx.beginPath();\n                    ctx.strokeStyle = \"green\";\n                    ctx.lineWidth = \"2\";\n                    ctx.rect(topLeftX, topLeftY, width, height);\n                    ctx.stroke();\n            }\n                img.src = msg.payload[0];\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":320,"wires":[[]]}]