flows_raspberrypi.json
[{"id":"7a8140fa.cdcf2","type":"tab","label":"Image Caption Generator","disabled":false,"info":""},{"id":"e5f70c65.350d1","type":"tab","label":"Facial Recognizer","disabled":false,"info":""},{"id":"8863cf15.37b2d","type":"tab","label":"Audio Classifier","disabled":false,"info":""},{"id":"1451a3c0.e5f5ac","type":"tab","label":"Audio Classifier WIP","disabled":false,"info":""},{"id":"2f72890.0becd78","type":"tab","label":"Camera Settings / Troubleshooting","disabled":false,"info":""},{"id":"320abd75.c036d2","type":"wiotp-credentials","z":"","name":"","org":"mwslhc","serverName":"","devType":"rPi","devId":"MySenseHAT","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"45183b06.a1a074","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"d438fed.7c738","type":"object-detector-service","z":"","host":"http://9.240.113.187:5000","name":"local"},{"id":"dd3523ef.4d2e7","type":"image-caption-generator-service","z":"","host":"http://9.240.113.187:5000","name":"laptop on office network"},{"id":"4bffafb9.74baf","type":"ui_tab","z":"","name":"MAX Image Caption Generator","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb6012b9.16de9","type":"ui_group","z":"","name":"Image Caption Generator","tab":"4bffafb9.74baf","disp":true,"width":"14","collapse":false},{"id":"e8d90be2.9d1ce8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PI-NET Control Panel","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"675b434c.6330dc","type":"facial-recognizer-service","z":"","host":"http://9.240.113.187:6000","name":"laptop on work network"},{"id":"12806c45.b07654","type":"ui_group","z":"","name":"Facial Recognizer","tab":"141a44bd.00effb","disp":true,"width":"14","collapse":false},{"id":"141a44bd.00effb","type":"ui_tab","z":"","name":"MAX Facial Recognizer","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4cd2de.97153d","type":"ui_tab","z":"","name":"MAX Audio Classifier","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1486f3a.9d8be","type":"ui_group","z":"","name":"Audio Classifier","tab":"f4cd2de.97153d","disp":true,"width":"14","collapse":false},{"id":"bb1e7b07.d2ed78","type":"audio-classifier-service","z":"","host":"http://9.240.113.187:5555","name":"laptop on work network"},{"id":"3fd51e10.06fd52","type":"image-caption-generator-service","z":"","host":"http://192.168.1.138:5000","name":"laptop (home network)"},{"id":"b51b28cd.6e4068","type":"facial-recognizer-service","z":"","host":"http://192.168.1.138:6000","name":"laptop (home network)"},{"id":"fdcb1319.0a087","type":"inject","z":"1451a3c0.e5f5ac","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["80d9d90b.62dda8"]]},{"id":"deb18cb1.b25ae","type":"inject","z":"1451a3c0.e5f5ac","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["80d9d90b.62dda8"]]},{"id":"80d9d90b.62dda8","type":"microPi","z":"1451a3c0.e5f5ac","name":"microPi","filename":"/home/pi/.node-red/public/audio.wav","domain":"http://localhost:1880/","rate":"44100","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":340,"y":100,"wires":[["10870634.81ec7a"],[],[]]},{"id":"94ebb2a2.67753","type":"inject","z":"2f72890.0becd78","name":"Click to Capture Image","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["db30081e.380b58"]]},{"id":"af832a83.31eaa8","type":"image","z":"2f72890.0becd78","name":"","width":200,"x":850,"y":240,"wires":[]},{"id":"f11addad.e9fc7","type":"image-caption-generator","z":"7a8140fa.cdcf2","service":"dd3523ef.4d2e7","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":750,"y":200,"wires":[["af6d25e5.5d5df8","9578e8b6.d1e988"]]},{"id":"7eb28232.4616ec","type":"comment","z":"2f72890.0becd78","name":"Edit the node below to configure your camera (dbl-click for more)...","info":"Depending on how your camera is mounted, \nyou may want to select the vertical \nor horizontal flip options here. \n\nDue to the somewhat large file size for images,\nwe recommend using an image size of 640x480 \nhere since it's close to the size MAX \nmodels can process by default, but small\nenough to work as a payload between nodes.","x":440,"y":160,"wires":[]},{"id":"45f112b6.e06a7c","type":"comment","z":"2f72890.0becd78","name":"This is what your camera output looks like (dbl-click for more)...","info":"Keep in mind, you'll have to set these settings\nfor each camera node in your flows, unless\nyou copy/paste your nodes after creating one.","x":910,"y":480,"wires":[]},{"id":"af6d25e5.5d5df8","type":"debug","z":"7a8140fa.cdcf2","name":"Debug MAX Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":140,"wires":[]},{"id":"e1097c70.5ff28","type":"ui_button","z":"7a8140fa.cdcf2","name":"Capture Image Button (Dashboard)","group":"eb6012b9.16de9","order":7,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":160,"wires":[["d628bf13.a2998"]]},{"id":"9578e8b6.d1e988","type":"ui_text","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","order":5,"width":"14","height":"2","name":"","label":"Caption:","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":260,"wires":[]},{"id":"2e26a2c0.32d1ee","type":"debug","z":"e5f70c65.350d1","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":160,"wires":[]},{"id":"d6bb5edf.29925","type":"ui_button","z":"e5f70c65.350d1","name":"Facial Recognizer Button (Dashboard)","group":"12806c45.b07654","order":3,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":210,"y":140,"wires":[["971d862f.fe8158"]]},{"id":"368859df.52aeb6","type":"facial-recognizer","z":"e5f70c65.350d1","service":"675b434c.6330dc","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":520,"y":220,"wires":[["b41c123a.7c89c","2e26a2c0.32d1ee"]]},{"id":"ae158b90.4cc968","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"Image Display (Dashboard)","order":4,"width":"14","height":"9","format":"<div ng-bind-html='msg.payload'> </div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":300,"wires":[[]]},{"id":"c0164813.7cee08","type":"function","z":"7a8140fa.cdcf2","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img src='\"+ imgSrc + \"' />\"\nmsg.payload = element\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["ae158b90.4cc968"]]},{"id":"b318cea2.c937c","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":1,"width":0,"height":0,"format":"<style>\nimg {\n  max-width: 85%;\n  padding: 0;\n  margin: auto;\n  display: block;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1030,"y":400,"wires":[[]]},{"id":"29e37a2e.df0126","type":"function","z":"e5f70c65.350d1","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img class='facial-output' src='\"+ imgSrc + \"' />\";\nmsg.payload = imgSrc;\nmsg.topic = 'image';\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["efef7472.1ea258"]]},{"id":"465e9a39.43aae4","type":"comment","z":"7a8140fa.cdcf2","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the output on the NodeRED Dashboard.","info":"","x":580,"y":60,"wires":[]},{"id":"b41c123a.7c89c","type":"function","z":"e5f70c65.350d1","name":"Parse MAX Response","func":"\n\nif (msg.payload !== null) {\n    msg.payload = msg.details.predictions[0].detection_box;\n    msg.topic = 'coords';\n} else {\n    msg.payload = \"No Face Detected.\";\n    msg.topic = 'noFace';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["efef7472.1ea258"]]},{"id":"e560a4f4.e4a7a8","type":"comment","z":"e5f70c65.350d1","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the image with the output coordinates  on the NodeRED Dashboard.","info":"This flow captures an image using the Raspberry Pi Camera \nand sends it to a MAX Model, \nthen displays the image with the \noutput coordinates plotted using the HTML5\ncanvas API on the NodeRED Dashboard.","x":690,"y":60,"wires":[]},{"id":"4b7ce0c8.b4563","type":"ui_template","z":"e5f70c65.350d1","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":2,"width":0,"height":0,"format":"<style>\n#face-display {\n  max-width: 85%;\n  padding: 0;\n  margin: auto;\n  display: block;\n}\n\n#heading {\n    font-size: 1.05em;\n    font-weight: bold;\n    padding: 0;\n    margin: auto;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":990,"y":400,"wires":[[]]},{"id":"db30081e.380b58","type":"camerapi-takephoto","z":"2f72890.0becd78","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":500,"y":240,"wires":[["af832a83.31eaa8"]]},{"id":"d628bf13.a2998","type":"camerapi-takephoto","z":"7a8140fa.cdcf2","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":460,"y":220,"wires":[["f11addad.e9fc7","c0164813.7cee08","979bd81a.a184d8"]]},{"id":"971d862f.fe8158","type":"camerapi-takephoto","z":"e5f70c65.350d1","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":300,"y":220,"wires":[["368859df.52aeb6","29e37a2e.df0126"]]},{"id":"efef7472.1ea258","type":"function","z":"e5f70c65.350d1","name":"Data Aggregator for Canvas Element","func":"context.imageData = context.imageData || false;\ncontext.coordsData = context.coordsData || false;\n\nif (msg.topic == 'image') {\n    context.imageData = msg.payload;\n} else if (msg.topic == 'coords') {\n    context.coordsData = msg.payload;\n} else if (msg.topic == 'noFace' && context.imageData) {\n    msg.payload = []\n    msg.topic = 'dataBundle'\n    context.coordsData = [0,0,0,0];\n    msg.payload.push(context.imageData);\n    msg.payload.push(context.coordsData);\n}\n\nif (context.imageData && context.coordsData) {\n    msg.payload = []\n    msg.topic = 'dataBundle'\n    msg.payload.push(context.imageData);\n    msg.payload.push(context.coordsData);\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["cd5ea02f.a9384"]]},{"id":"cd5ea02f.a9384","type":"ui_template","z":"e5f70c65.350d1","group":"12806c45.b07654","name":"Canvas Display","order":1,"width":"14","height":"9","format":"<div id='img-div'> \n</div>\n<canvas height=\"480px\" width=\"640px\" id='face-display'></canvas>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload && msg.topic == 'dataBundle'){\n                let img = new Image();\n                let canvas = document.getElementById('face-display');\n                let canvasWidth = canvas.width;\n                let canvasHeight = canvas.height;\n                let ctx = canvas.getContext('2d');\n                let coords = msg.payload[1];\n                \n                img.onload = function() {\n                    ctx.drawImage(img, 0, 0);\n                    \n                    if (coords[0] == coords[1] &&\n                        coords[0] == coords [2]){\n                            ctx.font = '48px serif';\n                            ctx.fillText('No Face Detected.', 125, 440);\n                        } else {\n                            const topLeftX = coords[0]\n                            const topLeftY = coords[1]\n                            const height = coords[3] - coords[1]\n                            const width = coords[2]-coords[0]\n                            \n                            ctx.fillStyle = '#0bc6c0';\n                            ctx.beginPath();\n                            ctx.strokeStyle = '#0bc6c0';\n                            ctx.lineWidth = \"3\";\n                            ctx.rect(topLeftX, topLeftY, width, height);\n                            ctx.stroke();\n                        }\n                    \n                    \n                    \n            }\n                img.src = msg.payload[0];\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":320,"wires":[[]]},{"id":"e125aa4a.45f908","type":"ui_template","z":"e5f70c65.350d1","group":"12806c45.b07654","name":"Heading","order":2,"width":"14","height":"2","format":"<span id='heading'>\n    Capture an image with a face to see it outlined in a bounding box.\n    </span>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":260,"wires":[[]]},{"id":"2abce28a.bfa07e","type":"function","z":"1451a3c0.e5f5ac","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\nlet rp = context.global.rp;\n\nlet options = { method: 'POST',\n  url: 'http://9.240.113.187:5555/model/predict',\n  headers: \n   { 'content-type': 'multipart/form-data',\n     'cache-control': 'no-cache'},\n  formData: \n   { audio: \n      { value: fs.createReadStream(msg.file),\n        options: \n         { filename: \"audio.wav\",\n           contentType: 'audio/wav' } } } };\n\nrp(options).then(response => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(response);\n    node.send(Object.assign({}, msg))\n}).catch(e => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(error);\n    node.send(Object.assign({}, msg))\n});","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["c97b864e.bf1668"]]},{"id":"ff01d320.4bff8","type":"debug","z":"1451a3c0.e5f5ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":280,"wires":[]},{"id":"10870634.81ec7a","type":"wav-filewriter","z":"1451a3c0.e5f5ac","name":"","path":"/home/pi/.node-red/public/audio.wav","mode":"700","x":510,"y":100,"wires":[["4d78ac1.7669e54"]]},{"id":"4d78ac1.7669e54","type":"delay","z":"1451a3c0.e5f5ac","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":160,"wires":[["7894d649.84b498"]]},{"id":"c97b864e.bf1668","type":"function","z":"1451a3c0.e5f5ac","name":"Clean MAX Output","func":"const response = msg.payload.predictions || msg.payload.error;\n\nif (response.length > 1) {\n    msg.payload = response[0].label;\n} else {\n    msg.payload = response;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["ff01d320.4bff8"]]},{"id":"6403dc05.e6e124","type":"microPi","z":"8863cf15.37b2d","name":"microPi","filename":"/home/pi/.node-red/public/audio.wav","domain":"http://localhost:1880/","rate":"44100","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":540,"y":260,"wires":[["75b8626f.e767ec"],[],[]]},{"id":"9160bf36.3192f","type":"function","z":"8863cf15.37b2d","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\nlet rp = context.global.rp;\n\nlet options = { method: 'POST',\n  url: 'http://9.240.113.187:5555/model/predict',\n  headers: \n   { 'content-type': 'multipart/form-data',\n     'cache-control': 'no-cache'},\n  formData: \n   { audio: \n      { value: fs.createReadStream(msg.file),\n        options: \n         { filename: \"audio.wav\",\n           contentType: 'audio/wav' } } } };\n\nrp(options).then(response => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(response);\n    node.send(Object.assign({}, msg))\n}).catch(e => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(error);\n    node.send(Object.assign({}, msg))\n});","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["18bef3d.9e3430c"]]},{"id":"d3766c4c.57756","type":"debug","z":"8863cf15.37b2d","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":440,"wires":[]},{"id":"75b8626f.e767ec","type":"wav-filewriter","z":"8863cf15.37b2d","name":"","path":"/home/pi/.node-red/public/audio.wav","mode":"700","x":710,"y":260,"wires":[["ea7c2299.7a836"]]},{"id":"ea7c2299.7a836","type":"delay","z":"8863cf15.37b2d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":320,"wires":[["9160bf36.3192f","181edf1.359a921"]]},{"id":"18bef3d.9e3430c","type":"function","z":"8863cf15.37b2d","name":"Clean MAX Output","func":"const response = msg.payload.predictions || msg.payload.error;\n\nif (response.length > 1) {\n    msg.payload = response[0].label;\n} else {\n    msg.payload = response;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[["d3766c4c.57756","89cd9591.af8918"]]},{"id":"16974dfb.ab53f2","type":"comment","z":"8863cf15.37b2d","name":"This flow captures audio using a USB Microphone and sends it to the MAX Audio Classifier Model, which identifies what types of things are being heard.","info":"This flow captures audio using a USB\nMicrophone and sends it to the MAX Audio\nClassifier Model, which identifies what\ntypes of things are being heard. ","x":730,"y":80,"wires":[]},{"id":"d18630.998d39d","type":"ui_button","z":"8863cf15.37b2d","name":"Audio Classifier Button (Dashboard)","group":"f1486f3a.9d8be","order":4,"width":0,"height":0,"passthru":false,"label":"Capture Audio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"capture_audio","payloadType":"str","topic":"capture_audio","x":220,"y":160,"wires":[["33f9e188.23fa8e"]]},{"id":"33f9e188.23fa8e","type":"delay","z":"8863cf15.37b2d","name":"Button Click Limiter","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":160,"wires":[["5fb2ec7c.bf86c4"]]},{"id":"5fb2ec7c.bf86c4","type":"trigger","z":"8863cf15.37b2d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"6","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":720,"y":160,"wires":[["6403dc05.e6e124","a0a38e6b.089e"]]},{"id":"89cd9591.af8918","type":"ui_text","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","order":1,"width":"14","height":"2","name":"Audio Detected:","label":"Detected:","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":380,"wires":[]},{"id":"a5d78f45.eea02","type":"ui_template","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","name":"Play Captured Audio","order":2,"width":"14","height":"2","format":"<audio controls ng-src=\"{{msg.base64}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":320,"wires":[[]]},{"id":"181edf1.359a921","type":"function","z":"8863cf15.37b2d","name":"Construct Audio Player","func":"\nlet fs = context.global.fs;\nconst fileName = msg.file;\nconst data = fs.readFileSync(msg.file);\nconst buf = Buffer.from(data);\nconst b64 = buf.toString('base64')\n\nconst beginOpenTag = \"<audio controls \";\nconst audioSrc = \"src='\" + \"/audio.wav\" + \"' >\"; \nconst closeTag = \"</audio>\"\n\nmsg.newAudio = true;\nmsg.base64 = 'data:audio/wav;base64,' + b64;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":320,"wires":[["a5d78f45.eea02"]]},{"id":"c8116a98.91ad18","type":"ui_template","z":"8863cf15.37b2d","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":3,"width":0,"height":0,"format":"<style>\n.audio-link {\n    text-align: center;\n    max-width: 30%;\n    margin: auto;\n}\n\naudio {\n    margin: auto;\n}\n\n.status-msg {\n    color: red !important;\n    margin: auto;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1230,"y":540,"wires":[[]]},{"id":"19d26067.7a0ab","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"Bootstrap CSS Import","order":6,"width":0,"height":0,"format":"<link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS\" crossorigin=\"anonymous\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1040,"y":440,"wires":[[]]},{"id":"3ccb7b9f.66a8e4","type":"audio-classifier","z":"1451a3c0.e5f5ac","service":"bb1e7b07.d2ed78","method":"predict","predict_image":"payload","predict_imageType":"msg","name":"","x":940,"y":120,"wires":[["ff01d320.4bff8"]]},{"id":"7894d649.84b498","type":"function","z":"1451a3c0.e5f5ac","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\n\nmsg.payload = fs.createReadStream(msg.file);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":40,"wires":[["3ccb7b9f.66a8e4"]]},{"id":"a0a38e6b.089e","type":"ui_template","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","name":"\"Capturing...\" Status Message","order":3,"width":"14","height":"2","format":"<span class=\"status-msg\">\n    {{msg.payload !== true ? \" \" : \"Capturing Audio...\"}}\n</span>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":160,"wires":[[]]},{"id":"979bd81a.a184d8","type":"image","z":"7a8140fa.cdcf2","name":"Image Capture Output","width":200,"x":580,"y":380,"wires":[]},{"id":"ec1bf96f.695128","type":"inject","z":"7a8140fa.cdcf2","name":"Click to Capture Image","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["d628bf13.a2998"]]}]