flows_raspberrypi.json
[{"id":"7a8140fa.cdcf2","type":"tab","label":"Image Caption Generator","disabled":false,"info":""},{"id":"e5f70c65.350d1","type":"tab","label":"Facial Recognizer","disabled":false,"info":""},{"id":"8863cf15.37b2d","type":"tab","label":"Audio Classifier","disabled":false,"info":""},{"id":"1451a3c0.e5f5ac","type":"tab","label":"Audio Classifier WIP","disabled":false,"info":""},{"id":"2f72890.0becd78","type":"tab","label":"Camera Settings / Troubleshooting","disabled":false,"info":""},{"id":"eca8e9c8.7991f8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"320abd75.c036d2","type":"wiotp-credentials","z":"","name":"","org":"mwslhc","serverName":"","devType":"rPi","devId":"MySenseHAT","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"45183b06.a1a074","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"d438fed.7c738","type":"object-detector-service","z":"","host":"http://9.240.113.187:5000","name":"local"},{"id":"dd3523ef.4d2e7","type":"image-caption-generator-service","z":"","host":"http://9.240.113.187:5000","name":"laptop on office network"},{"id":"4bffafb9.74baf","type":"ui_tab","z":"","name":"MAX Image Caption Generator","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb6012b9.16de9","type":"ui_group","z":"","name":"Image Caption Generator","tab":"4bffafb9.74baf","disp":true,"width":"14","collapse":false},{"id":"e8d90be2.9d1ce8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PI-NET Control Panel","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"675b434c.6330dc","type":"facial-recognizer-service","z":"","host":"http://9.240.113.187:6000","name":"laptop on work network"},{"id":"12806c45.b07654","type":"ui_group","z":"","name":"Facial Recognizer","tab":"141a44bd.00effb","disp":true,"width":"14","collapse":false},{"id":"141a44bd.00effb","type":"ui_tab","z":"","name":"MAX Facial Recognizer","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4cd2de.97153d","type":"ui_tab","z":"","name":"MAX Audio Classifier","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1486f3a.9d8be","type":"ui_group","z":"","name":"Audio Classifier","tab":"f4cd2de.97153d","disp":true,"width":"14","collapse":false},{"id":"bb1e7b07.d2ed78","type":"audio-classifier-service","z":"","host":"http://9.240.113.187:5555","name":"laptop on work network"},{"id":"3fd51e10.06fd52","type":"image-caption-generator-service","z":"","host":"http://192.168.1.138:5000","name":"laptop (home network)"},{"id":"b51b28cd.6e4068","type":"facial-recognizer-service","z":"","host":"http://192.168.1.138:6000","name":"laptop (home network)"},{"id":"343dfea6.9bde02","type":"rpi-sensehat in","z":"eca8e9c8.7991f8","name":"","motion":true,"env":true,"stick":true,"x":74,"y":90,"wires":[["f84017ee.19a4d8"]]},{"id":"9b50378b.838048","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":110,"wires":[["a5fdbf31.0e418","c3982a64.ac3fd8"]]},{"id":"f84017ee.19a4d8","type":"switch","z":"eca8e9c8.7991f8","name":"Input Classification Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":164,"y":190,"wires":[["9b50378b.838048"],["5a7623f.e05b2dc"],["43104d7c.1dcb44"]]},{"id":"c3982a64.ac3fd8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":824,"y":130,"wires":[]},{"id":"5a7623f.e05b2dc","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":150,"wires":[["a7050754.cfaec8","c3982a64.ac3fd8"]]},{"id":"a5fdbf31.0e418","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"environment","format":"json","qos":"","name":"","x":804,"y":70,"wires":[]},{"id":"a7050754.cfaec8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"motion","format":"json","qos":"","name":"","x":824,"y":190,"wires":[]},{"id":"43104d7c.1dcb44","type":"switch","z":"eca8e9c8.7991f8","name":"Joystick Direction Check","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":164,"y":310,"wires":[["f85c17f7.82c268"],["1d301f34.bef8f1"]]},{"id":"c86cbb58.6f89c8","type":"delay","z":"eca8e9c8.7991f8","name":"Joystick Press Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":674,"y":290,"wires":[["819a11a1.e1ab6"]]},{"id":"1d301f34.bef8f1","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":330,"wires":[["291fd126.649c2e","a9e6efa4.5ff1"]]},{"id":"f85c17f7.82c268","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":290,"wires":[["c86cbb58.6f89c8"]]},{"id":"a9e6efa4.5ff1","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1284,"y":350,"wires":[]},{"id":"81b20101.e0903","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"image captured","format":"bin","qos":"","name":"","x":1254,"y":290,"wires":[]},{"id":"291fd126.649c2e","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"joystick directional input","format":"json","qos":"","name":"","x":1224,"y":410,"wires":[]},{"id":"2c5677e1.02db88","type":"wiotp in","z":"eca8e9c8.7991f8","authType":"g","deviceKey":"320abd75.c036d2","deviceType":"rPi","deviceId":"MySenseHAT","command":"+","commandType":"d","qos":0,"name":"From Watson IoT","x":100,"y":540,"wires":[["1e4d7571.6c27eb","4eacd9e5.cbd5f8"]]},{"id":"1e4d7571.6c27eb","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":600,"wires":[]},{"id":"44974ab0.e94864","type":"comment","z":"eca8e9c8.7991f8","name":"Send sensor/joystick data to Watson IoT","info":"","x":174,"y":30,"wires":[]},{"id":"7f13bdca.b6e2f4","type":"function","z":"eca8e9c8.7991f8","name":"message (message)","func":"d = msg.payload.d;\nif (msg.command == \"message\") {\n    msg.background = d.background;\n    msg.color = d.color;\n    msg.payload = d.message;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":720,"wires":[["8db312ab.183be"]]},{"id":"8db312ab.183be","type":"rpi-sensehat out","z":"eca8e9c8.7991f8","name":"","x":870,"y":740,"wires":[]},{"id":"8d8dd894.6af888","type":"image","z":"eca8e9c8.7991f8","name":"","width":200,"x":1290,"y":60,"wires":[]},{"id":"edeae2e1.c0422","type":"debug","z":"eca8e9c8.7991f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1610,"y":380,"wires":[]},{"id":"eee163b9.94edc","type":"object-detector","z":"eca8e9c8.7991f8","service":"d438fed.7c738","method":"predict","predict_body":"","predict_bodyType":"str","predict_threshold":"0.7","predict_thresholdType":"str","name":"","x":1340,"y":560,"wires":[["ae5de9a4.b20768"]]},{"id":"d0569c72.512e1","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"detected_object","format":"json","qos":"","name":"","x":1680,"y":460,"wires":[]},{"id":"fdcb1319.0a087","type":"inject","z":"1451a3c0.e5f5ac","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["80d9d90b.62dda8"]]},{"id":"deb18cb1.b25ae","type":"inject","z":"1451a3c0.e5f5ac","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["80d9d90b.62dda8"]]},{"id":"80d9d90b.62dda8","type":"microPi","z":"1451a3c0.e5f5ac","name":"microPi","filename":"/home/pi/.node-red/public/audio.wav","domain":"http://localhost:1880/","rate":"44100","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":340,"y":100,"wires":[["10870634.81ec7a"],[],[]]},{"id":"69c762ff.a68b9c","type":"delay","z":"eca8e9c8.7991f8","name":"Once Every 5 Seconds...","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":590,"y":520,"wires":[["12d62e95.bdcb01"]]},{"id":"e451d2d.119993","type":"comment","z":"eca8e9c8.7991f8","name":"Incoming commands","info":"","x":220,"y":480,"wires":[]},{"id":"4eacd9e5.cbd5f8","type":"switch","z":"eca8e9c8.7991f8","name":"parse Watson IoT data","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"alarm","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":540,"wires":[["69c762ff.a68b9c"],["7f13bdca.b6e2f4"],["39e8dc51.15e1a4"]]},{"id":"39e8dc51.15e1a4","type":"function","z":"eca8e9c8.7991f8","name":"full color (alarm)","func":"d = msg.payload.d;\nif (msg.command == \"alarm\") {\n    msg.payload = \"\\*,\\*,\" + d.color;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["8db312ab.183be"]]},{"id":"12d62e95.bdcb01","type":"switch","z":"eca8e9c8.7991f8","name":"\"action\" switch","property":"payload.d.message","propertyType":"msg","rules":[{"t":"eq","v":"object_detection","vt":"str"},{"t":"eq","v":"image_caption","vt":"str"},{"t":"eq","v":"facial_detection","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":820,"y":580,"wires":[["655313a1.01bd5c"],["9d2e8934.6ff718"],["f9918965.60eca8"]]},{"id":"974776e5.2ba398","type":"image-caption-generator","z":"eca8e9c8.7991f8","service":"45183b06.a1a074","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":1290,"y":660,"wires":[["48f06616.2d5d08"]]},{"id":"ebd108fb.6301f8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"caption_generated","format":"json","qos":"","name":"","x":1730,"y":720,"wires":[]},{"id":"9726461e.2eac98","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"picture_taken","format":"bin","qos":"","name":"","x":1740,"y":600,"wires":[]},{"id":"e4f4506e.2506e","type":"function","z":"eca8e9c8.7991f8","name":"format img for display in dashboard","func":"msg.payload = 'data:image/jpeg;base64,' + msg.payload.toString('base64')\nmsg.action = 'picture_taken';\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":620,"wires":[["9726461e.2eac98","898373c5.0d415"]]},{"id":"898373c5.0d415","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":560,"wires":[]},{"id":"de86e3b3.d6e7d","type":"facial-recognizer","z":"eca8e9c8.7991f8","service":"675b434c.6330dc","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":1280,"y":740,"wires":[["898373c5.0d415","60ab6dd.60e0094"]]},{"id":"39e7cc04.08d624","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"face_detected","format":"json","qos":"","name":"","x":1720,"y":860,"wires":[]},{"id":"60ab6dd.60e0094","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (face detection)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Face Detected';\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":780,"wires":[["39e7cc04.08d624"]]},{"id":"5687a9d1.6149f8","type":"function","z":"eca8e9c8.7991f8","name":"attempt at building form body manually","func":"var formData = context.global.formData;\nvar form = new formData();\nvar fetch = context.global.fetch;\n\nvar image = {};\nvar options = {};\nvar req = {};\nvar node = this;\n\noptions['filename'] = 'image.jpg';\nimage['value'] = msg.payload;\nimage['options'] = JSON.stringify(options)\nform.append('image', JSON.stringify(image));\nreq[\"content-type\"] = 'multipart/form-data';\nreq.body = form;\n\n\nvar fp = fetch('http://9.240.113.187:5000/model/predict', { method: 'POST', req});\n\nreturn fp.then(res => this.send(res))","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["922f79c1.de9da8"]]},{"id":"922f79c1.de9da8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":420,"wires":[]},{"id":"ae5de9a4.b20768","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (object detection)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Objects Detected';\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":460,"wires":[["edeae2e1.c0422","d0569c72.512e1"]]},{"id":"48f06616.2d5d08","type":"function","z":"eca8e9c8.7991f8","name":"Clean MAX Output (image caption generator)","func":"msg.payload = msg.payload !== null ? msg.payload : 'No Caption Generated';\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":660,"wires":[["ebd108fb.6301f8"]]},{"id":"94ebb2a2.67753","type":"inject","z":"2f72890.0becd78","name":"Click to Capture Image","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["db30081e.380b58"]]},{"id":"af832a83.31eaa8","type":"image","z":"2f72890.0becd78","name":"","width":200,"x":850,"y":240,"wires":[]},{"id":"f11addad.e9fc7","type":"image-caption-generator","z":"7a8140fa.cdcf2","service":"3fd51e10.06fd52","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":730,"y":200,"wires":[["9578e8b6.d1e988","af6d25e5.5d5df8"]]},{"id":"7eb28232.4616ec","type":"comment","z":"2f72890.0becd78","name":"Edit the node below to configure your camera (dbl-click for more)...","info":"Depending on how your camera is mounted, \nyou may want to select the vertical \nor horizontal flip options here. \n\nDue to the somewhat large file size for images,\nwe recommend using an image size of 640x480 \nhere since it's close to the size MAX \nmodels can process by default, but small\nenough to work as a payload between nodes.","x":440,"y":160,"wires":[]},{"id":"45f112b6.e06a7c","type":"comment","z":"2f72890.0becd78","name":"This is what your camera output looks like (dbl-click for more)...","info":"Keep in mind, you'll have to set these settings\nfor each camera node in your flows, unless\nyou copy/paste your nodes after creating one.","x":910,"y":480,"wires":[]},{"id":"af6d25e5.5d5df8","type":"debug","z":"7a8140fa.cdcf2","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":140,"wires":[]},{"id":"e1097c70.5ff28","type":"ui_button","z":"7a8140fa.cdcf2","name":"Capture Image Button (Dashboard)","group":"eb6012b9.16de9","order":7,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":160,"wires":[["d628bf13.a2998"]]},{"id":"9578e8b6.d1e988","type":"ui_text","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","order":5,"width":"14","height":"2","name":"","label":"Caption:","format":"{{msg.payload}}","layout":"col-center","x":980,"y":240,"wires":[]},{"id":"2e26a2c0.32d1ee","type":"debug","z":"e5f70c65.350d1","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":160,"wires":[]},{"id":"d6bb5edf.29925","type":"ui_button","z":"e5f70c65.350d1","name":"Facial Recognizer Button (Dashboard)","group":"12806c45.b07654","order":3,"width":0,"height":0,"passthru":false,"label":"Capture Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":210,"y":140,"wires":[["971d862f.fe8158"]]},{"id":"368859df.52aeb6","type":"facial-recognizer","z":"e5f70c65.350d1","service":"b51b28cd.6e4068","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":520,"y":220,"wires":[["b41c123a.7c89c","2e26a2c0.32d1ee"]]},{"id":"ae158b90.4cc968","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"Image Display (Dashboard)","order":4,"width":"14","height":"9","format":"<div ng-bind-html='msg.payload'> </div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":920,"y":300,"wires":[[]]},{"id":"c0164813.7cee08","type":"function","z":"7a8140fa.cdcf2","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img src='\"+ imgSrc + \"' />\"\nmsg.payload = element\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["ae158b90.4cc968"]]},{"id":"b318cea2.c937c","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":1,"width":0,"height":0,"format":"<style>\nimg {\n  max-width: 85%;\n  padding: 0;\n  margin: auto;\n  display: block;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":930,"y":360,"wires":[[]]},{"id":"29e37a2e.df0126","type":"function","z":"e5f70c65.350d1","name":"base64 -> image element","func":"const b64 = msg.payload\nconst imgSrc = \"data:image/png;base64,\" + b64.toString('base64')\n\nconst element = \"<img class='facial-output' src='\"+ imgSrc + \"' />\";\nmsg.payload = imgSrc;\nmsg.topic = 'image';\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["efef7472.1ea258"]]},{"id":"465e9a39.43aae4","type":"comment","z":"7a8140fa.cdcf2","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the output on the NodeRED Dashboard.","info":"","x":580,"y":60,"wires":[]},{"id":"b41c123a.7c89c","type":"function","z":"e5f70c65.350d1","name":"Parse MAX Response","func":"\n\nif (msg.payload !== null) {\n    msg.payload = msg.details.predictions[0].detection_box;\n    msg.topic = 'coords';\n} else {\n    msg.payload = \"No Face Detected.\";\n    msg.topic = 'noFace';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["efef7472.1ea258"]]},{"id":"e560a4f4.e4a7a8","type":"comment","z":"e5f70c65.350d1","name":"This flow captures an image using the Raspberry Pi Camera and sends it to a MAX Model, then displays the image with the output coordinates  on the NodeRED Dashboard.","info":"This flow captures an image using the Raspberry Pi Camera \nand sends it to a MAX Model, \nthen displays the image with the \noutput coordinates plotted using the HTML5\ncanvas API on the NodeRED Dashboard.","x":690,"y":60,"wires":[]},{"id":"4b7ce0c8.b4563","type":"ui_template","z":"e5f70c65.350d1","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":2,"width":0,"height":0,"format":"<style>\n#face-display {\n  max-width: 85%;\n  padding: 0;\n  margin: auto;\n  display: block;\n}\n\n#heading {\n    font-size: 1.05em;\n    font-weight: bold;\n    padding: 0;\n    margin: auto;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":990,"y":400,"wires":[[]]},{"id":"819a11a1.e1ab6","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"1","flipv":"1","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":960,"y":240,"wires":[["8d8dd894.6af888","81b20101.e0903"]]},{"id":"655313a1.01bd5c","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":580,"wires":[["8d8dd894.6af888","eee163b9.94edc","e4f4506e.2506e"]]},{"id":"9d2e8934.6ff718","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":620,"wires":[["8d8dd894.6af888","974776e5.2ba398"]]},{"id":"f9918965.60eca8","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":1040,"y":660,"wires":[["de86e3b3.d6e7d"]]},{"id":"db30081e.380b58","type":"camerapi-takephoto","z":"2f72890.0becd78","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":500,"y":240,"wires":[["af832a83.31eaa8"]]},{"id":"d628bf13.a2998","type":"camerapi-takephoto","z":"7a8140fa.cdcf2","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":480,"y":200,"wires":[["f11addad.e9fc7","c0164813.7cee08"]]},{"id":"971d862f.fe8158","type":"camerapi-takephoto","z":"e5f70c65.350d1","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"1","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Camera Node","x":300,"y":220,"wires":[["368859df.52aeb6","29e37a2e.df0126"]]},{"id":"efef7472.1ea258","type":"function","z":"e5f70c65.350d1","name":"Data Aggregator for Canvas Element","func":"context.imageData = context.imageData || false;\ncontext.coordsData = context.coordsData || false;\n\nif (msg.topic == 'image') {\n    context.imageData = msg.payload;\n} else if (msg.topic == 'coords') {\n    context.coordsData = msg.payload;\n} else if (msg.topic == 'noFace' && context.imageData) {\n    msg.payload = []\n    msg.topic = 'dataBundle'\n    context.coordsData = [0,0,0,0];\n    msg.payload.push(context.imageData);\n    msg.payload.push(context.coordsData);\n}\n\nif (context.imageData && context.coordsData) {\n    msg.payload = []\n    msg.topic = 'dataBundle'\n    msg.payload.push(context.imageData);\n    msg.payload.push(context.coordsData);\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["cd5ea02f.a9384"]]},{"id":"cd5ea02f.a9384","type":"ui_template","z":"e5f70c65.350d1","group":"12806c45.b07654","name":"Canvas Display","order":1,"width":"14","height":"9","format":"<div id='img-div'> \n</div>\n<canvas height=\"480px\" width=\"640px\" id='face-display'></canvas>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload && msg.topic == 'dataBundle'){\n                let img = new Image();\n                let canvas = document.getElementById('face-display');\n                let canvasWidth = canvas.width;\n                let canvasHeight = canvas.height;\n                let ctx = canvas.getContext('2d');\n                let coords = msg.payload[1];\n                \n                img.onload = function() {\n\n                    ctx.drawImage(img, 0, 0);\n                    \n                    const topLeftX = coords[0]\n                    const topLeftY = coords[1]\n                    const height = coords[3] - coords[1]\n                    const width = coords[2]-coords[0]\n                    \n                    ctx.fillStyle = '#00FF00';\n                    ctx.beginPath();\n                    ctx.strokeStyle = \"green\";\n                    ctx.lineWidth = \"2\";\n                    ctx.rect(topLeftX, topLeftY, width, height);\n                    ctx.stroke();\n            }\n                img.src = msg.payload[0];\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":320,"wires":[[]]},{"id":"e125aa4a.45f908","type":"ui_template","z":"e5f70c65.350d1","group":"12806c45.b07654","name":"Heading","order":2,"width":"14","height":"2","format":"<span id='heading'>\n    Capture an image with a face to see it outlined in a bounding box.\n    </span>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":260,"wires":[[]]},{"id":"2abce28a.bfa07e","type":"function","z":"1451a3c0.e5f5ac","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\nlet rp = context.global.rp;\n\nlet options = { method: 'POST',\n  url: 'http://9.240.113.187:5555/model/predict',\n  headers: \n   { 'content-type': 'multipart/form-data',\n     'cache-control': 'no-cache'},\n  formData: \n   { audio: \n      { value: fs.createReadStream(msg.file),\n        options: \n         { filename: \"audio.wav\",\n           contentType: 'audio/wav' } } } };\n\nrp(options).then(response => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(response);\n    node.send(Object.assign({}, msg))\n}).catch(e => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(error);\n    node.send(Object.assign({}, msg))\n});","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["c97b864e.bf1668"]]},{"id":"ff01d320.4bff8","type":"debug","z":"1451a3c0.e5f5ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":280,"wires":[]},{"id":"10870634.81ec7a","type":"wav-filewriter","z":"1451a3c0.e5f5ac","name":"","path":"/home/pi/.node-red/public/audio.wav","mode":"700","x":510,"y":100,"wires":[["4d78ac1.7669e54"]]},{"id":"4d78ac1.7669e54","type":"delay","z":"1451a3c0.e5f5ac","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":160,"wires":[["7894d649.84b498"]]},{"id":"c97b864e.bf1668","type":"function","z":"1451a3c0.e5f5ac","name":"Clean MAX Output","func":"const response = msg.payload.predictions || msg.payload.error;\n\nif (response.length > 1) {\n    msg.payload = response[0].label;\n} else {\n    msg.payload = response;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["ff01d320.4bff8"]]},{"id":"6403dc05.e6e124","type":"microPi","z":"8863cf15.37b2d","name":"microPi","filename":"/home/pi/.node-red/public/audio.wav","domain":"http://localhost:1880/","rate":"44100","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"false","mode":"666","x":540,"y":260,"wires":[["75b8626f.e767ec"],[],[]]},{"id":"9160bf36.3192f","type":"function","z":"8863cf15.37b2d","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\nlet rp = context.global.rp;\n\nlet options = { method: 'POST',\n  url: 'http://192.168.1.138:5555/model/predict',\n  headers: \n   { 'content-type': 'multipart/form-data',\n     'cache-control': 'no-cache'},\n  formData: \n   { audio: \n      { value: fs.createReadStream(msg.file),\n        options: \n         { filename: \"audio.wav\",\n           contentType: 'audio/wav' } } } };\n\nrp(options).then(response => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(response);\n    node.send(Object.assign({}, msg))\n}).catch(e => {\n    msg.MAXData = true;\n    msg.payload = JSON.parse(error);\n    node.send(Object.assign({}, msg))\n});","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["18bef3d.9e3430c"]]},{"id":"d3766c4c.57756","type":"debug","z":"8863cf15.37b2d","name":"Debug MAX Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":440,"wires":[]},{"id":"75b8626f.e767ec","type":"wav-filewriter","z":"8863cf15.37b2d","name":"","path":"/home/pi/.node-red/public/audio.wav","mode":"700","x":710,"y":260,"wires":[["ea7c2299.7a836"]]},{"id":"ea7c2299.7a836","type":"delay","z":"8863cf15.37b2d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":320,"wires":[["9160bf36.3192f","181edf1.359a921"]]},{"id":"18bef3d.9e3430c","type":"function","z":"8863cf15.37b2d","name":"Clean MAX Output","func":"const response = msg.payload.predictions || msg.payload.error;\n\nif (response.length > 1) {\n    msg.payload = response[0].label;\n} else {\n    msg.payload = response;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[["d3766c4c.57756","89cd9591.af8918"]]},{"id":"16974dfb.ab53f2","type":"comment","z":"8863cf15.37b2d","name":"This flow captures audio using a USB Microphone and sends it to the MAX Audio Classifier Model, which identifies what types of things are being heard.","info":"This flow captures audio using a USB\nMicrophone and sends it to the MAX Audio\nClassifier Model, which identifies what\ntypes of things are being heard. ","x":730,"y":80,"wires":[]},{"id":"d18630.998d39d","type":"ui_button","z":"8863cf15.37b2d","name":"Audio Classifier Button (Dashboard)","group":"f1486f3a.9d8be","order":4,"width":0,"height":0,"passthru":false,"label":"Capture Audio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"capture_audio","payloadType":"str","topic":"capture_audio","x":220,"y":160,"wires":[["33f9e188.23fa8e"]]},{"id":"33f9e188.23fa8e","type":"delay","z":"8863cf15.37b2d","name":"Button Click Limiter","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":160,"wires":[["5fb2ec7c.bf86c4"]]},{"id":"5fb2ec7c.bf86c4","type":"trigger","z":"8863cf15.37b2d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"6","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":720,"y":160,"wires":[["6403dc05.e6e124","a0a38e6b.089e"]]},{"id":"89cd9591.af8918","type":"ui_text","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","order":1,"width":"14","height":"2","name":"Audio Detected:","label":"Detected:","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":380,"wires":[]},{"id":"a5d78f45.eea02","type":"ui_template","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","name":"Play Captured Audio","order":2,"width":"14","height":"2","format":"<audio controls ng-src=\"{{msg.base64}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":320,"wires":[[]]},{"id":"181edf1.359a921","type":"function","z":"8863cf15.37b2d","name":"Construct Audio Player","func":"\nlet fs = context.global.fs;\nconst fileName = msg.file;\nconst data = fs.readFileSync(msg.file);\n//const jsonData = JSON.stringify(data);\nconst buf = Buffer.from(data);\nconst b64 = buf.toString('base64')\n\nconst beginOpenTag = \"<audio controls \";\nconst audioSrc = \"src='\" + \"/audio.wav\" + \"' >\"; \nconst closeTag = \"</audio>\"\n\n\n\n//msg.payload = jsonData;\n//msg.payload = beginOpenTag + audioSrc + closeTag;\n//msg.payload = \"<audio controls src='/audio.wav'></audio>\"\n\nmsg.newAudio = true;\nmsg.base64 = 'data:audio/wav;base64,' + b64;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":320,"wires":[["a5d78f45.eea02"]]},{"id":"c8116a98.91ad18","type":"ui_template","z":"8863cf15.37b2d","group":"eb6012b9.16de9","name":"CSS Styles (Dashboard)","order":3,"width":0,"height":0,"format":"<style>\n.audio-link {\n    text-align: center;\n    max-width: 30%;\n    margin: auto;\n}\n\naudio {\n    margin: auto;\n}\n\n.status-msg {\n    color: red !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1230,"y":540,"wires":[[]]},{"id":"19d26067.7a0ab","type":"ui_template","z":"7a8140fa.cdcf2","group":"eb6012b9.16de9","name":"Bootstrap CSS Import","order":6,"width":0,"height":0,"format":"<link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS\" crossorigin=\"anonymous\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":940,"y":420,"wires":[[]]},{"id":"3ccb7b9f.66a8e4","type":"audio-classifier","z":"1451a3c0.e5f5ac","service":"bb1e7b07.d2ed78","method":"predict","predict_image":"payload","predict_imageType":"msg","name":"","x":940,"y":120,"wires":[["ff01d320.4bff8"]]},{"id":"7894d649.84b498","type":"function","z":"1451a3c0.e5f5ac","name":"manually send request to audio classifier","func":"let fs = context.global.fs;\n\nmsg.payload = fs.createReadStream(msg.file);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":40,"wires":[["3ccb7b9f.66a8e4"]]},{"id":"a0a38e6b.089e","type":"ui_template","z":"8863cf15.37b2d","group":"f1486f3a.9d8be","name":"\"Capturing...\" Status Message","order":3,"width":"14","height":"2","format":"<p class=\"status-msg\">\n    {{msg.payload !== true ? \" \" : \"Capturing Audio...\"}}\n</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":160,"wires":[[]]}]